*{
    line-height: 1.5;
  } 
  img {
    height: auto;
    Width: 700px;
  }
  h1, h2, h3 {
    color: darkred;
  }
  h4 {
    color: rgb(204, 114, 129);
  }
  body {
    background-color: #f3dddd;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
  }
  p {
    text-align:left;
  }
  ul {
    list-style-type: circle;
  }
  .main.button {
    background-color: white;
    
  }
  .return.button {
    background-color: rgb(185, 67, 87);
    
  }
  a {
    color: darkred;
    text-decoration: none;
    font-size: 16px;
  }
  .return.button a {
    color: white;
  }

  