*{
    line-height: 1.5;
    
  } 
  img {
    height: 475px;
    Width: 700px;
    
  }
  h1 {
    color: rgb(153, 57, 32);
  }
  body {
    background-color: rgb(243, 237, 229);
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    
  }

  .cheesecake{
  background-color: rgb(150, 41, 41);
  }

  .pumpkin {
  background-color: rgb(212, 127, 23);
  }
  .lemon { 
  background-color: rgb(241, 197, 83);
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
    
  
